.DS_Store
.idea
lectures/data/imdb_master.csv
lectures/data/kc_house_data.csv
lectures/data/housing.csv
lectures/data/creditcard.csv
lectures/data/housing-kaggle
*.pyc
*.ipynb_checkpoints
*.csv
*.pyc
*.json
*.pyc
*.tsv
*.wav
hw/hw7/data/ml-100k/allbut.pl
hw/hw7/data/ml-100k/mku.sh
hw/hw7/data/ml-100k/README
hw/hw7/data/ml-100k/u.data
hw/hw7/data/ml-100k/u.genre
hw/hw7/data/ml-100k/u.info
hw/hw7/data/ml-100k/u.item
hw/hw7/data/ml-100k/u.occupation
hw/hw7/data/ml-100k/u.user
hw/hw7/data/ml-100k/u1.base
hw/hw7/data/ml-100k/u1.test
hw/hw7/data/ml-100k/u2.base
hw/hw7/data/ml-100k/u2.test
hw/hw7/data/ml-100k/u3.base
hw/hw7/data/ml-100k/u3.test
hw/hw7/data/ml-100k/u4.base
hw/hw7/data/ml-100k/u4.test
hw/hw7/data/ml-100k/u5.base
hw/hw7/data/ml-100k/u5.test
hw/hw7/data/ml-100k/ua.base
hw/hw7/data/ml-100k/ua.test
hw/hw7/data/ml-100k/ub.base
hw/hw7/data/ml-100k/ub.test
