.DS_Store
.idea
lectures/data/imdb_master.csv
lectures/data/kc_house_data.csv
lectures/data/housing.csv
lectures/data/creditcard.csv
lectures/data/housing-kaggle
*.pyc
*.ipynb_checkpoints
hw/hw5/bigml_59c28831336c6604c800002a.csv
